.venv/
data/
output_SciBERT/
output_specter2/
.gemini/
.env
__pycache__/
output_specter2old/
dataa/
dataaa/
filter_carbon_neutral_keywords copy.py
output_*/
data_global/
scratch*.py
output_*/
data_global/
scratch*.py
